<!DOCTYPE html>
<html>
<head>
  <title>FirstSteps</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
        <ul class="nav">
          <li class="brand">Whatever</li>
          <li><a href= "<%=all_users_path%>" >All users</a></li>
        </ul>
        <% unless user_signed_in? %>
            <%= form_tag({controller: 'sessions', action: 'create'}, {method: 'post', class: 'navbar-form pull-right'}) do %>
                <%= text_field_tag(:username, I18n.translate(:username), {class: 'input-small'}) %>
                <%= password_field_tag(:password,  I18n.translate(:password), {class: 'input-small'}) %>
                <%= submit_tag(I18n.translate(:login_submit), {class: 'btn'}) %>
            <% end %>
            <% else %>
                <%= link_to "logout", logout_path, {method: :delete, class: 'btn pull-right'} %>
         <% end %>
    </div>
  </div>
</div>
<%unless flash[:registration_modal]%>
    <%= render partial: "shared/flashes", flash: flash %>
<% end %>
<div class="container">
    <%= yield %>
</div>

</body>

</html>
